.root {
    -fx-background-color: #1a171f;
}

#indexTopBar {
	-fx-min-height: 70px;
	-fx-max-height: 70px;
}

#indexSidebar {
	-fx-background-color: #472360;
}

#headingLabel {
	-fx-font-size: 28;
}

#indexLinkList {
	-fx-margin: 20%, 20%, 0px, 0px;
	-fx-spacing: 5;
}

#linkItem {	
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-background-color: grey;
	-fx-min-width: 100%;
	-fx-min-height: 90px;
	-fx-max-height: 90px;
}

.button {
    -fx-font-size: 16;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 90% 90%, #302442, #291842);
}


.sideButton {
    -fx-font-size: 12;
	-fx-text-fill: #472360;
}

.sideButton:hover {
	-fx-text-fill: white;
	-fx-background-color: #705d97;

.window-bar {
	-fx-background-color: #201c58;
}

.window-controls {
	-fx-background-color: #201c58;
	-fx-background-radius: 0;
}

.window-controls:hover {
	-fx-text-fill: white;
	-fx-background-color: #756cfa;
}
